@import url("https://fonts.googleapis.com/css2?family=Unna&display=swap");

body {
  background-color: rgb(20, 20, 20);
  color: rgb(255, 255, 255);
  font-family: "Unna", serif;
  font-weight: 300;
}

header {
  display: flex;
  justify-content: center;
}

header ul {
  display: flex;
  padding: 10px 10px 50px 10px;
}

li {
  list-style: none;
  margin: 5px 10px;
}

h1 {
  font-size: 160px;
  font-weight: 7;
  margin: 0;
}

h2 {
  margin: 3px;
  font-weight: 3;
  text-align: center;
}

h3 {
  margin: 0;
}

.subtitle {
  font-size: 70px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-section {
  margin-top: 17vh;
  text-align: center;
}

.light-text {
  font-weight: 1;
}

footer {
  width: 100vw;
  bottom: 0;
  left: 0;
  position: fixed;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.options {
  display: flex;
}

.options a {
  margin: 50px 10px;
}

footer ul {
  display: flex;
  padding: 30px;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.socials {
  width: 100px;
  height: 320px;
  background-color: rgb(51, 255, 255);
  border-radius: 30px 0 0 30px;
  position: fixed;
  right: 0;
  top: 27vh;
}

@media only screen and (max-width: 600px) {
  .socials {
    display: none;
  }
}

.social {
  width: 100%;
  height: 33%;
}

.wave {
  fill: rgb(0, 0, 0);
  width: 100vw;
  height: 65vh;
  position: fixed;
  bottom: 0;
  left: 0;
}

.social svg {
  fill: rgb(255, 255, 255);
}

a:hover {
  color: rgb(51, 255, 255);
}

.work-details {
  width: 50%;
}

.work-details td {
  padding: 30px;
}

@media only screen and (max-width: 600px) {
  .work-details {
    width: 80%;
  }

  .work-details td {
    padding: 5px;
  }
}

.work-pages-footer {
  position: relative;
}

.about-me {
  width: 50%;
  text-align: center;
}

.about-me img {
  height: 200px;
  border-radius: 50%;
  margin: 40px 10px 10px 10px;
}

.form-submit {
  width: 50%;
}

.form-submit form {
  width: 100%;
}

.form-submit .form-row {
  display: flex;
  justify-content: space-between;
}

.form-row .form-control {
  width: 50%;
  border: none;
  font-family: "Unna", serif;
  font-size: 20px;
  padding: 5px;
}
